body  
	{background:rgb(255,255,220); }

table {
    width: 80%; 
    background-color: #f1f1c1;

}		
.pol {
	background: #fcc;
}
.eng {
	background: #f44;
}
.centr {
	width: 50%;
    margin: 0 auto;
}

			